@charset "utf-8";
/* CSS Document */

body{
	background:#222222;
}
a{
	color:GoldenRod;
	background-color:#444444;
	-webkit-box-shadow: 0px 0 10px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0 10px rgba(0,0,0,0.5);
	box-shadow: 0px 0 10px rgba(0,0,0,0.5);
	border-radius:2px;
	margin-bottom: auto;
}
#container{
	margin-left: 6%;
	margin-right: 6%;
	width: 93%;
}
.item{
	width: 18%;
	float: left;
	position: center;
	padding: 5px;
	-webkit-box-shadow: 0px 0 10px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0 10px rgba(0,0,0,0.5);
	box-shadow: 0px 0 10px rgba(0,0,0,0.5);
	border-radius:2px;	
}
img{
	width: 100%;
}
video{
	width: 100%;
}